.header {
   display: flex;
   gap: 5rem;
   align-items: end;

   .header-text {
      h1 {
         color: $gray900;
         line-height: 1.6;
      }
      p {
         color: $gray700;
      }
   }

   .filters-container {
      display: flex;
      gap: 5rem;
   }
}

@media (max-width: 1024px) {
   .header {
      .filters-container {
         display: flex;
         gap: 1rem;
         flex-direction: column;
      }
   }
}

@media (max-width: 640px) {
   .header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: start;
      padding: 0 1rem;
   }
}
