.table-container {
   margin-top: 3rem;
   overflow-x: auto;
   height: 70dvh;

   table {
      min-width: 100%;
      border-top: 0px solid $gray300;
      border-bottom: 0px solid $gray300;
      border-collapse: collapse;

      th {
         background-color: $gray50;
         position: sticky;
         top: 0;
         z-index: 1;
         padding: 1.2rem 1rem;
         color: $gray900;
         font-weight: 600;
         border-bottom: 1px solid $gray300;
         text-align: left;
      }

      td {
         white-space: nowrap;
         padding: 1rem 0.75rem;
         font-size: 0.9rem;
         color: $gray500;
         border-bottom: 1px solid $gray300;
      }
   }
}

@media (max-width: 768px) {
   .table-container {
      margin-top: 1rem;
   }
}
